/* ------------------------------------------------------------ */
/* INIZIO LINEA CUSTOM E STELLA */

.glyphicon-star {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0 24px;
}

.icona {
    display:inline-block;
    position: relative;
}

.icona::after {
    content: "";
    display:block;
    height: 5px;
    width: 70px;
    background-color: white;
    position: absolute;
    right:-70px;
    top: 50%;
    transform: translateY(-50% );
}

.icona::before {
    content: "";
    display:block;
    height: 5px;
    width: 70px;
    background-color: white;
    position: absolute;
    left:-73px;
    top: 50%;
    transform: translateY(-50% );
}

.icona-nera::after {
    background-color: #2c3e50;
}

.icona-nera:before {
    background-color: #2c3e50;
}
/* ------------------------------------------------------------ */
/* INIZIO NAVBAR */

.menu {
    background-color: #2c3e50;
    text-transform: uppercase;
    padding: 16px 16px 0 16px;;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.menu ul li {
        line-height: 24px;
        padding:16px;
        text-align: left;
        font-size: 16px;
}

.li-cambio-colore:hover {
    color: #1abc9c;
}

.testo-logo {
    font-size: 28px;
    line-height: 42px;
    padding: 5px 16px 5px 0;
    text-align: left;
}

/* ------------------------------------------------------------ */
/* FINE NAVBAR */
/* ------------------------------------------------------------ */
/* INIZIO JUMBOTRON */

.jumbotron {
    background-color: #1abc9c;
    color: white;
    padding: 96px 0;
}

.jumbotron h1 {
    line-height: 56px;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

.jumbotron img {
    width: 240px;
    margin-bottom: 48px;
}

.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

/* ------------------------------------------------------------ */
/* FINE JUMBOTRON */
/* ------------------------------------------------------------ */
/* INIZIO PORTFOLIO */

.portfolio h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 96px;
    text-transform: uppercase;
}

.portfolio img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.portfolio .row {
    padding-bottom: 25px;
}





/* ------------------------------------------------------------ */
/* FINE PORTFOLIO */
